[2020-06-05 04:30] TimothyStiles opened #1 "Gff parser chops off last attribute in attribute list."
**Describe the bug**
Gff parser chops off last attribute in attribute list.

**To Reproduce**
Steps to reproduce the behavior:
Use the gff parser.

**Expected behavior**
Not this.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphon

[2020-06-12 21:18] TimothyStiles opened #3 "Packaging for package managers."
**Is your feature request related to a problem? Please describe.**
Non-golang programmers will have a hard time installing the command line tool without using standard package managers.

**Describe the solution you'd like**
Compilation targets for various popular package managers. Where after each release a new binary is created and updated to be used with:

apt-get
yum
nix
brew
choco

**Describe

[2020-06-12 21:20] TimothyStiles commented on #3
If anyone reading this knows how to package for these targets or has a package manager they'd like to add Poly to I'm all ears and happy to merge pull requests!

[2020-06-13 02:28] TimothyStiles commented on #3
Just opened a new branch for this called [releaser](https://github.com/TimothyStiles/poly/tree/releaser). Currently looking to integrate [goreleaser](https://github.com/goreleaser/goreleaser/) to build binaries for variety of OSs and architectures. It looks like they can also update homebrew taps and maybe deploy packages for other managers but I'm not sure yet.

[2020-06-13 04:37] TimothyStiles commented on #3
Looked into [goreleaser](https://github.com/goreleaser/goreleaser/).

It looks like there's support for homebrew and snapcraft.

There also seems to be some sort of [support for publishing .deb and .rpm packages](https://goreleaser.com/customization/nfpm/) via something maintained by the goreleaser team called [nfpm](https://github.com/goreleaser/nfpm)

Not sure how it works yet but I'll keep read

[2020-06-13 05:53] TimothyStiles opened #4 "Writing out to genbank file format."
**Is your feature request related to a problem? Please describe.**
Currently poly can read genbank (.gb, .gbk files) but it can't write out .gb, .gbk files.

**Describe the solution you'd like.**
What I'd like is a gbk string builder similar in interface to the `GffBuilder` function in io.go.

[2020-06-13 08:01] TimothyStiles opened #5 "Adding a documentation site."
**Is your feature request related to a problem? Please describe.**

Poly should have a nice documentation site.

**Describe the solution you'd like**

An out of the box solution that is pretty and has examples to complement go docs.
https://squidfunk.github.io/mkdocs-material/ comes to mind.

**Describe alternatives you've considered**

I'm not sure what alternatives there are at the moment but I

[2020-06-13 21:11] Koeng101 commented on #5
I like using mdBook for things like this, which is very simple https://rust-lang.github.io/mdBook/index.html. Would recommend, though mkdocs looks like pretty much the same idea.

[2020-06-13 21:23] Koeng101 opened #7 "Start and End of features not properly parsed"
**Describe the bug**
JSON object representation of Genbank features don't have proper `Start` and `End` values. The `Location` field, as far as I know, is slightly different. Start and end should either have simple integer values, or be redundant with `Location`

**To Reproduce**
Steps to reproduce the behavior:
`cat bsub.gbk | poly c -i gbk -o json > bsub.json`

**Expected behavior**
The `Start`

[2020-06-13 21:30] Koeng101 opened #8 "Removing newlines in feature product description doesn't add a space."
**Describe the bug**
When parsing out descriptions, newlines aren't replaced with a space. Newlines should be replaced with a space and not with nothing.

Genbank:
[code]
JSON:
[code]

**To Reproduce**
`cat bsub.gbk | poly c -i gbk -o json > bsub.json`
Check `bsub.gbk` and `bsub.json` with your favorite text editor.

**Expected behavior**
I expect there to be a space

**Screenshots**
If applicable

[2020-06-13 23:53] TimothyStiles commented on #8
Oh man. I labeled this as a good first issue but for some reason what I thought was the correct quick fix is breaking the convert command test. I'll play around with it and update in a bit.

[2020-06-14 00:48] TimothyStiles commented on #8
Double oof. There's nothing differentiating between what needs a space and what doesn't. The cheapest fix to this would be to add a space except for some different qualifiers like translation like translation this would break the sequence.

I could just flag for translation and any other official sequence qualifiers that may exist but still. Yeesh.

[2020-06-17 20:36] TimothyStiles opened #10 "Fasta file format IO"
**Describe the solution you'd like**
I'd like a fasta parser than parses fasta into an AnnotatedSequence struct or set of AnnotatedSequence structs. Most of the struct can be blank but the AnnotatedSequence.Sequence.Sequence should be a single string of characters with no whitespace and AnnotatedSequence.Sequence.Description should be the description. This is a really great first contribution and

[2020-06-18 06:19] Koeng101 commented on #5
@TimothyStiles Have you thought more about a solution here? We should try to build the docs site while building the application so docs stay up to date.

[2020-06-19 05:55] Koeng101 opened #12 "DNA synthesis optimizer"
Large scale DNA synthesis requires optimization of sequences, removing sequences that complicate the synthesis reaction. There have been many iterations at different companies, but generally it follows the formula of:

- Remove restriction enzyme sites (ie, BsaI)
- Fix homopolymers
- Fix repeat regions
- Fix high or low global GC content
- Fix high or low local GC content
- Fix regions with large

[2020-06-19 23:43] TimothyStiles commented on #7
This is currently being resolved in PR #13 .

[2020-06-20 02:32] TimothyStiles commented on #7
This issue has been fixed with merged PR #13.

[2020-06-20 02:32] #7 closed

[2020-06-21 02:44] Koeng101 opened #14 "Enhanced poly ha output"
**Is your feature request related to a problem? Please describe.**
The most likely use of hash outputs is going to be linking hash IDs to the LOCUS of a Genbank file, since that is typically the unique identifier. There should be a non-default option for the hash function to output the LOCUS of the Genbank file it has parsed.

**Describe the solution you'd like**
I would like the poly hash functio

[2020-06-21 07:26] TimothyStiles commented on #14
This seems like one that's easy enough. I'm not really sure what you want to output to look like here. Think you could make a pull request for this @Koeng101?

[2020-06-21 22:03] TimothyStiles commented on #5
@Koeng101 [docusaurus](https://docusaurus.io) looks similar too. Right now I'm trying to think of the cleanest way to integrate everything.

[2020-06-23 16:35] Koeng101 commented on #14
Will do.

[2020-06-23 22:40] Koeng101 opened #15 "Implement efficient sequence search"
An extremely useful function for poly to have is efficient sequence search. This can be used for lots of different operations. Historically, [BLAST](https://en.wikipedia.org/wiki/BLAST_(biotechnology)) has been the most popular technology, but BLAST has a few major disadvantages. BLAST is a relatively old technology, and its time complexity is [at best `O(n)`, and at worst, `O(n^2)`](https://stack

[2020-06-24 17:54] Koeng101 commented on #15
Here is a potential solution to non-naive deduplication.

# To effectively deduplicate, use suffix arrays + LCP
The general idea is that to do deduplication you find the [longest common substring](https://www.youtube.com/watch?v=Ic80xQFWevc) (L) that occurs a certain number of times (K) in a concatenated string with all known DNA (S). If you graph L as Y and K as X, you're going to find that there

[2020-06-24 21:57] TimothyStiles commented on #15
@Koeng101 this looks great and fits into plans for what I'm tentatively calling, "`poly store`".

It looks like insertion time for search cache to work is roughly KN where K is number of cached sequences, and N is new input sequences. For sufficiently large stores there's probably going to need to be a daemon that manages making initial input searchable while applying updates to the indexes and X

[2020-06-26 19:50] TimothyStiles opened #16 "Windows command line support."
It's pretty frustrating that I can't get Poly command line tests to pass on Windows OS during github action test jobs. I have no concept of how powershell works in Windows and am pretty useless when it comes to testing here. Currently command line tests are just bypassed for Windows OS.

If any Windows user here could go through Poly's commands_test.go file and recreate the unix tests for Windows

[2020-06-29 18:28] TimothyStiles opened #20 "Least rotation command and regression testing general hashes."
I recently discovered a bug that I quick patched in commit 346e3eb58cdd74db14eba333ba428256f77c93b0 where the sequence hash was summing incorrectly and returning comically long hashes that were far beyond the 40 character limit of sha1.

I believe I've patched the problem but to prevent regression there should be a least a test to prove that general hashing is working properly. It's hard to check

[2020-06-30 04:22] TimothyStiles commented on #20
Tired and writing this on my phone because I just thought of it and want to remember it.

There should be a `no` option for the hash function `-f` flag that just returns the rotated circular sequence to be used however.

Probably could put in the switch statement that controls hash function usage which would work upstream.

[2020-07-02 04:18] Koeng101 commented on #5
Doc website here - https://timothystiles.github.io/polydocs/
Doc github here - https://github.com/TimothyStiles/polydocs

[2020-07-02 04:28] Koeng101 commented on #14
https://timothystiles.github.io/polydocs/docs/cli-hashing

`cat bsub.gbk | poly ha -i gbk -o json | jq -r '.Meta.Accession,.Sequence.Hash'`

Has the functionality I was looking for.

[2020-07-02 04:28] #14 closed

[2020-07-02 04:44] Koeng101 opened #21 "Biofast comparison"
Heng Li (inventor of SAM, minimap, etc, basically an absolute madlad that has seriously contributed to bio software space) had this in a blog post:

http://lh3.github.io/2020/05/17/fast-high-level-programming-languages

Looks like Go is about 2x slower than most the other high level languages. It would be great to have a performance test suite of poly vs other REAL bio software (not hypothetical),

[2020-07-02 15:41] TimothyStiles commented on #14
@Koeng101 this functionality was also partially added as of last night.

https://timothystiles.github.io/poly/docs/cli-hashing/#hashing-with-a-system-call

Still needs the locus if that's what you're going for but what you have seems like a good idiomatic solution for bash.

[2020-07-02 16:50] TimothyStiles commented on #21
@Koeng101 agree that bench marking against other programs would be great but feels like premature optimization for where we are now.

It depends how much you want to benchmark but you could write a benchmarking suite where on every push or pull request to the `prime` branch poly is benchmarked against other packages. The way I'd implement this is by having a separate benchmarking repo that contain

[2020-07-02 17:37] TimothyStiles commented on #3
Go releaser has been integrated but not yet tested. Next steps are to create a github action on that tests for installation on deploy as well as on a cron job.

[2020-07-02 17:39] TimothyStiles opened #22 "Pull request template"
It'd be really cool to have a pull request comment template that prompts people to write about what they're integrating.

If someone could look up how to do this with the .github directory and add one that I could edit and merge it would make a great first contribution!

[2020-07-03 03:39] TimothyStiles commented on #5
I'm super excited to announce that `poly`'s doc site has been integrated with github actions and now works as a continuous deployment. All that's needed to update the blog or docs is to make changes to the prime branch in the `docs` or `blog` directory and changes should be made on merge. Check out the new site!

https://timothystiles.github.io/poly/

[2020-07-03 03:39] #5 closed

[2020-07-03 19:55] Koeng101 opened #23 "Seqhash uppercase requirement broken"
**Describe the bug**
Seqhash is producing different outputs if the sequence in is lower or uppercase. This exact problem [was mentioned here](https://github.com/TimothyStiles/poly/pull/6#issuecomment-644491596), originally implemented in #6  and was [removed in this commit](https://github.com/TimothyStiles/poly/pull/6/commits/56999357f14c0804a7f9a387721379f00d05223e).

Seqhash should return the sa

[2020-07-03 20:05] Koeng101 opened #24 "No sequence parsing for genbank files exported from Snapgene"
**Describe the bug**
Genbank files exported by Snapgene have no sequence output in their JSON files.

**To Reproduce**
[puc19.gbk](http://ix.io/2qNF)
[puc19_snapgene.gb](http://ix.io/2qNO)
[puc19.json](http://ix.io/2qNR)
[puc19_snapgene.json](http://ix.io/2qNP)

[code]

**Expected behavior**
puc19_snapgene.gb sequence output should be the same as puc19.gbk.

**Desktop (please complete the followin

[2020-07-03 20:06] Koeng101 opened #25 "Add poly version"
**Is your feature request related to a problem? Please describe.**
poly version should output the version of poly that is currently running.

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature

[2020-07-03 21:12] TimothyStiles commented on #16
For release related purposes it looks like we can use `scoop` with `go releaser`.

https://scoop.sh/

[2020-07-04 04:50] TimothyStiles commented on #25
Here's a starting point : https://github.com/urfave/cli/blob/master/docs/v2/manual.md#version-flag

You'd want to check out how flags are defined in `main.go` and then try adding some of the stuff that's in the doc above.

Also, poly versions are tied to git tags. I'm not sure if `urfave/cli/v2` accounts for that but if it doesn't you'd probably have to write a github action that updates the versi

[2020-07-06 01:45] TimothyStiles commented on #24
@Koeng101 can you push your test files onto a branch so I can reproduce and debug this?

[2020-07-06 01:54] Koeng101 commented on #24
https://github.com/Koeng101/poly/tree/bug_%2324

in ./data/test_files

[2020-07-06 18:35] TimothyStiles commented on #24
Just ran `git diff --no-index puc19.gbk puc19_snapgene.gb` to get a better idea of the difference between these two files.

![Screen Shot 2020-07-06 at 11 30 47 AM](https://user-images.githubusercontent.com/7042260/86627053-7cde1300-bf7c-11ea-887c-514c4f727f51.png)

It looks like the snapgene export function uses carriage returns instead of newlines. This may be causing some problem but I'm not re

[2020-07-06 20:07] TimothyStiles commented on #24
The carriage returns were adding whitespace which caused a switch statement to fail. One line fix in #27.

[2020-07-06 20:25] TimothyStiles commented on #24
This is been fixed with 08f5e21.

[2020-07-06 20:25] #24 closed

[2020-07-07 21:34] TimothyStiles commented on #8
I just fixed this with my latest push 25abfb5. Everything should work now as expected. Take a look and let me know what you think!

[2020-07-07 21:34] #8 closed

[2020-07-08 16:01] TimothyStiles commented on #20
This was implemented in commit  c4fc7e6.

[2020-07-08 16:01] #20 closed

[2020-07-08 16:18] #23 closed

[2020-07-08 16:44] TimothyStiles commented on #3
Installing via homebrew now works.

[code]

This works for mac osx and linux.

There's support for scoop but I think that should just be added to issue #16.

[2020-07-08 16:44] #3 closed

[2020-07-11 03:41] Koeng101 opened #30 "Inconsistent naming convention in JSON"
I was reviewing the JSON at https://github.com/TimothyStiles/poly/blob/prime/data/puc19static.json and I found that there is an inconsistency in "Meta" and "Locus". In Meta, there is `GenbankDivision` field, and in Locus, there is `GenBankDivision` field. Poly should be consistent.

[2020-07-20 20:57] TimothyStiles opened #32 "If we ever need loading screen art"
It's not necessary at the moment but if we ever need to create a loading dialogue it'd be funny to have some ascii art to accompany it. Inspired by [this](https://twitter.com/helloyesiskiara/status/1275521465614467072) and [this](https://twitter.com/SynBio1/status/1275531463455375361) I give you this:

<pre>
 ___       __   ___       ___  ___  __          __
|__  |\ | / _` |__  |\ | |__  |__  |__)

[2020-07-22 14:37] TimothyStiles commented on #4
Things that need to happen for genbank write. @Koeng101

* Introduce new json struct tags in AnnotatedSequence struct.
* create `other` unstructured map object for meta to hold meta data that isn't standard.
* Actually write `buildGbk` and `writeGbk` functions
* Edit docs to reflect new changes.

[2020-08-05 16:40] TimothyStiles commented on #4
Fixed in pr #33.

[2020-08-05 16:40] #4 closed

[2020-08-07 04:05] TimothyStiles opened #36 "Adding support for RPM, Yum, and Apt-get"
It's weird to ask linux users to use homebrew to install when it's not that popular on linux systems. It'd be better if we offered support for RPM, Yum, and Apt-get.

We should include in documentation instructions like `rpm -i <url-to-latest-github-release.rpm>` or `yum install <url-to-latest-github-release.rpm>` to do this we'd likely need to automate release updates to documentation via a githu

[2020-08-19 07:14] 0x106 commented on #10
@TimothyStiles I'd be happy to work on this feature if you'd like?

[2020-08-19 18:06] TimothyStiles commented on #10
@0x106 go for it! Is there anything I can help with?

[2020-08-20 06:51] 0x106 commented on #10
I should be fine to get started thanks. I had a look through io.go as a starting point and am going to set up a bunch of test cases before I actually write anything.

[2020-08-24 06:58] 0x106 commented on #10
Hey I pushed an initial version. It reads sequences from a .fasta file into an array of AnnotatedSequence structs (header line gets written into `Sequence.Description` and sequence into `Sequence.Sequence`.

This was my first time writing anything in Go so you might want to give it a quick check to make sure it's idiomatic / actually correct.

[2020-08-24 07:00] 0x106 commented on #22
Hi @TimothyStiles I added a `.github/pull_request_template.md` file (just a stub). There's some docs on doing it [here](https://docs.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository) but it was trivial to add.

[2020-08-24 19:35] TimothyStiles commented on #10
Thanks to @0x106 for adding this in PR #37! There still needs to be a build fasta function but we can merge before adding that.

[2020-08-24 19:35] #10 closed

[2020-08-24 22:30] TimothyStiles commented on #36
It's kind of annoying to put a github action together for this at the moment. I've updated the docs to instruct users how to use `dpkg -i` and `rpm -i`. I'm going to close this for now but reopen it after fixing #25.

[2020-08-24 22:30] #36 closed

[2020-08-24 22:31] TimothyStiles commented on #25
Current thoughts on implementing this is to just have a `version.go` file that contains a variable that gets updated via github action on a tag push.

[2020-08-24 22:36] #32 closed

[2020-08-24 22:36] #21 closed

[2020-08-25 02:10] TimothyStiles opened #39 "Upgrading melting temp in primers.go"
[`primers.go`](https://github.com/TimothyStiles/poly/blob/prime/primers.go) does a great job of calculating primer melting temp using SantaLucia but in @jecalles' original pull request #34 they mentioned some extra stuff that they may need for their project.

It'd be great if we could upgrade MeltingTemp() to adjust predictions for (1) internal base mismatches, (2) internal loops, and (3) overhang

[2020-08-25 03:48] TimothyStiles opened #40 "Gibson Assembly Cloning"
Now that the `MeltingTemp()` has been merged into `prime` we can start working on Gibson Assembly.

At its core `GibsonAssembly()` would take a slice of sequences and return primers that would help join each piece into a fully realized sequence. It would also account for whether the sequence is linear or circular and design that last primer for a circular sequence as necessary. This function and t

[2020-08-25 21:04] TimothyStiles opened #41 "Optimizing sequences"
Before a sequence is synthesized it should be optimized in at least 3 ways that I can think of.

* Codon optimization for a target organism
* Non-repetitive parts optimization for a target organism
* Synthesis optimization (optimizing sequence for probability of synthesis success)

Each optimization would have its own function but it'd be great to eventually have a function that performs a suite o

[2020-08-25 21:23] Koeng101 commented on #41
The best way to do this is to take the target organism + your sequence of interest and building a suffix array / LCP array for them together. Then, you just look for large LCPs.

[2020-08-26 20:03] Koeng101 opened #42 "poly store 2.0 discussion"
Poly store is a method to store DNA and search DNA sequences. Unlike many other methods for storing and indexing DNA sequences, Poly store is meant to be able to store everything - all DNA humanity has sequenced. The first implementation of Poly store was experimented with in #15

This is a difficult problem, but generally digests to a couple different necessary features:

1. Must be disk based (B

[2020-08-28 01:58] TimothyStiles commented on #42
@koeng101 quick point of style for those that read this thread, can you spell out all acronyms like `lcp` when you first use them?

I'd suggest creating a new branch where you create the boilerplate code to layout how this should be structured. I'd put them in two separate files. `store.go` and `store_test.go`. From there it'd be easier to reason around how we should go about implementing everythi

[2020-09-22 04:01] Koeng101 opened #43 "Primer flow"
Primers are a common need for labs, and will be required for more complex protocols, like Gibson assemblies.

The most basic application of a primer design will be a simple amplification.

`poly amplify pUC19.gb --amplicon  "ATGACCATGATTACGCCAAGCTTGCATGCCTGCAGGTCGACTCTAGAGGATCCCCGGGTACCGAGCTCGAATTCACTGGCCGTCGTTTTACAACGTCGTGACTGGGAAAACCCTGGCGTTACCCAACTTAATCGCCTTGCAGCACATCCCCCTTTCGCCAGCTGGCGTAATAGCG

[2020-09-22 04:05] Koeng101 commented on #43
Oh of course, the other flags of `--tm x` and `--polymerase ` are important. For example:

[code]

[2020-09-22 04:17] TimothyStiles commented on #43
@Koeng101 this is extremely helpful. I've been looking for the polymerase melting temp reference you mentioned that NEB puts out but can't find it. Do you have a link for it?

[2020-09-22 04:28] Koeng101 commented on #43
https://tmcalculator.neb.com/#!/help

They have 3 equations on the bottom. Math time!

[2020-09-22 05:47] TimothyStiles commented on #43
It looks like they just changed the salt correction for phusion but I was under the impression that they'd publish a data table of values that could be plugged into `poly` using the `--polymerase` flag. Does anything like that exist?

[2020-09-22 16:16] Koeng101 commented on #43
No, they just have the formulas for calculating the TMs there. I remembered incorrectly about the table :(

[2020-09-28 04:56] Koeng101 commented on #15
#42 Moving discussion there for poly store.

[2020-09-28 04:56] #15 closed

[2020-09-29 05:40] rkrishnasanka opened #44 "Python interface"
**Is your feature request related to a problem? Please describe.**
Need for a python interface to use Poly with Python 3+. This will enable us to easily integrate parsers, etc. into other software pipelines.

**Describe the solution you'd like**
A step by step guide on how to integrate poly into Python. This will allow inexperienced software developers to leverage poly's libraries and capabilities

[2020-09-29 21:21] TimothyStiles commented on #44
@rkrishnasanka I think supporting python 3 bindings is a little outside of `poly`'s current scope but if you're interested our docs are mostly up to date and go over parsers and hashing functions for both CLI and programmatic usage.

https://timothystiles.github.io/poly/docs/

To be honest I haven't given much thought to supporting language bindings partially because I'd like for synbio as an indu

[2020-10-01 06:23] rkrishnasanka commented on #44
In that case, it would be good if you had:
1. A top-level API that reflects exactly the same interface as what is available with the command line - This would simplify maintenance and creation of language bindings. It would also mean that someone like me would be able to probably do a PR in case I want to use it for a project.
1. Support for pipes in case I want to shuttle inputs and outputs from

[2020-10-01 07:41] TimothyStiles commented on #44
The API and command line interface are pretty tightly woven and every command that's been shipped so far supports pipes and redirects with plenty of examples in the [documentation](https://timothystiles.github.io/poly/docs/cli-hashing#converting-a-sequence-to-json-and-hashing-a-sequence-from-a-stream).

JSON inputs and exports are already supported with our `AnnotatedSequence` struct and I'm happy

[2020-10-23 00:40] TimothyStiles opened #46 "Testing on windows"
I'd like to be able to run our tests on windows but given this [stack trace](https://github.com/TimothyStiles/poly/pull/45/checks?check_run_id=1295497124) from this [pull request](https://github.com/TimothyStiles/poly/pull/45/) windows has a problem with `ParseGff()` on [line 35](https://github.com/TimothyStiles/poly/blob/c5c8393a8ad83832a5e4b5be9a84342d751b01c4/io_test.go#L35) of io_test.go.

The

[2020-10-23 00:45] #16 closed

[2020-10-23 00:49] #44 closed

[2020-10-23 01:12] TimothyStiles commented on #25
It turns out that `*cli.App` objects have specific fields for setting app version and toggling version printing off and on.

If you add these two lines after between [lines 43 and 44](https://github.com/TimothyStiles/poly/blob/7b0947a1970a5e9ecf556fb9745dcd2c826d5689/main.go#L43) of main.go it will print out the version.
[code]

This is a pretty good first issue for getting familiar with github ac

[2020-10-23 01:40] TimothyStiles opened #47 "Refactor hash.go"
**Is your feature request related to a problem? Please describe.**
Currently there are two issues with how `hash.go` is implemented.

1. The blake3 package does not implement a standard `crypto.hash()` interface. Currently we just use a special method for hashing with blake3 but this is bad and should be fixed asap.

2. GenericSequenceHash only hashes `AnnotatedSequence` objects, it should also ha

[2020-10-23 03:40] TimothyStiles opened #49 "Writing a cloning.go spec"
**Is your feature request related to a problem? Please describe.**
Implementing multiple cloning functions may be complex enough to write a spec for it before we get going.

**Describe the solution you'd like**
Stack overflow has a great [dev blog post](https://stackoverflow.blog/2020/04/06/a-practical-guide-to-writing-technical-specs/) on how to write a spec. First step is information gathering w

[2020-10-23 03:58] TimothyStiles opened #50 "Writing a synthesis.go spec"
**Is your feature request related to a problem? Please describe.**
Implementing DNA synthesis optimization may be complex enough to write a spec for it before we get going.

**Describe the solution you'd like**
Stack overflow has a great [dev blog post](https://stackoverflow.blog/2020/04/06/a-practical-guide-to-writing-technical-specs/) on how to write a spec. First step is information gathering w

[2020-10-23 04:26] TimothyStiles opened #51 "Refactor io.go"
**Is your feature request related to a problem? Please describe.**

io.go was the first file I wrote for `poly`. It's a monster at ~1400 lines. It defines the `AnnotatedSequence` struct which holds all the information that gets parsed using the gbk, gff, json, etc parsers that are also in that file. It's pretty good stuff but could use a little revamping in certain places

Current issues/needs are

[2020-10-23 04:49] TimothyStiles opened #52 "Writing SBOL3 IO"
**Is your feature request related to a problem? Please describe.**

People keep asking for SBOL3 IO so I thought there should be an issue for it.

**Describe the solution you'd like**

The SBOL3 parser should implement four functions `ReadSBOL, ParseSBO, BuildSBOL, WriteSBOL.

* `ReadSBOL` pretty much just does file io and passes a file string to `ParseSBOL`.

* `ParseSBOL` picks apart the sbol fi

[2020-10-23 04:56] #12 closed

[2020-10-23 04:56] #40 closed

[2020-10-23 04:56] #41 closed

[2020-10-23 21:51] TimothyStiles opened #53 "Migrating to and integrating godocs"
**Is your feature request related to a problem? Please describe.**

Currently we're using github pages but it's somewhat tedious to write and publish docs there. Also our documentation is missing from pkg.go.dev

**Describe the solution you'd like**

Godocs provides a way to render inline comments as documentation. As time goes on it would be best if we relied on this for library documentation and

[2020-10-23 21:55] TimothyStiles opened #54 "Update contributor's guide"
**Is your feature request related to a problem? Please describe.**

I get the feeling that the contributor's guide is getting kind of stale.

**Describe the solution you'd like**

If people could reply here to suggest improvement or talk about roadblocks they've faced with it onboarding/contributing I'd love to hear them!

I think I'll update requirements to include that code must also use godocs

[2020-10-23 22:23] TimothyStiles opened #55 "Creating an awesome command line user experience"
**Is your feature request related to a problem? Please describe.**
I've used a lot of command line tools over time and some of them have really pretty interfaces. Ascii art, loading icons, etc. I know that pipes should work but beyond that I'm not really sure what users want in a command line interface.

**Describe the solution you'd like**
A web search for, ["how to design a great command line us

[2020-10-25 17:13] TimothyStiles commented on #55
In terms of UI and styling this group is doing some pretty great stuff too and it's all open source.

https://charm.sh/

[2020-10-26 19:51] TimothyStiles opened #56 "Expanding sequence methods"
**Is your feature request related to a problem? Please describe.**
In addition to our `.GetSequence()` method there should also be insert, delete, and replace sequence methods.

**Describe the solution you'd like**
insert, delete, and replace methods should work for `Sequence`, and `Feature` structs. In the case where a change causes a shift in sequence coordinates an `Sequence` struct's `Features

[2020-10-29 17:03] TimothyStiles commented on #53
So I've figured out how to deploy godocs.

https://pkg.go.dev/github.com/TimothyStiles/poly/

These will update with every formal release. Now all documentation comments need to be edited, examples for each function need to be included, and a package summary should be added.

[2020-10-29 21:59] TimothyStiles commented on #47
This has been fixed as of PR #58. Closing.

[2020-10-29 21:59] #47 closed

[2020-10-31 04:59] TimothyStiles opened #62 "CRISPR Gopher mascot"
Lots of Go related projects adopt a dressed up Go Gopher as a mascot and we should too!

[Examples](https://github.com/ashleymcnamara/gophers)

- Gopher using DNA as jump rope

- Gopher cutting DNA with scissors

- Gopher duct taping DNA back together

- Gopher inspecting peptide chains emerging from ribosomes with a little monocle

I'm not much an artist myself but if anyone could make a gopher f

[2020-10-31 16:30] Koeng101 commented on #62
+1 to the Gopher clumsily duct taping DNA together, though I'm down for any of the others too!

[2020-11-04 14:59] Koeng101 commented on #52
SBOL3 is probably where it is worth going to. SBOL2 will be going away at some point, might as well focus on the future!

[2020-11-05 04:32] rkrishnasanka commented on #44
@TimothyStiles I was looking at the JSON interface and I think that would be best class that would be useful to build a python/c++ interface here. As we modify that we can keep adding whatever python functions we need to update the bindings.

Based on this article here: https://blog.filippo.io/building-python-modules-with-go-1-5/. It seems like it will be a fairly simple process of integrating the

[2020-11-05 05:03] TimothyStiles commented on #44
@Koeng101 actually has a strategy for this when we start nearing 1.0 release. Essentially use json schema's to enforce standards between languages. The only reason I haven't merged his pull request is that I expect the sequence struct to be changed a couple more times in the next couple of months.

[2020-11-19 17:39] Koeng101 opened #72 "JSON codon table import + export"
**Is your feature request related to a problem? Please describe.**
It is annoying having to digest a .gbk file every time I want to do an optimization. I would like to be able to import and export codon tables using JSON format.

**Describe the solution you'd like**
JSON import and output of codon tables.

**Describe alternatives you've considered**

**Additional context**

[2020-11-20 22:34] Koeng101 opened #74 "Update Seqhash algorithm"
**Is your feature request related to a problem? Please describe.**
Update the seqhash algorithm to give versioned output. For example, pUC19 would be `v1_DCD_4b0616d1b3fc632e42d78521deb38b44fba95cca9fde159e01cd567fa996ceb9`, with the DCD standing for "DNA-Circular-Double stranded".

**Describe the solution you'd like**
https://git.sr.ht/~koeng/python-seqhash/tree/master/seqhash/__init__.py similar

[2020-11-21 00:37] Koeng101 opened #75 "NCBI Genbank flat file parsing"
**Is your feature request related to a problem? Please describe.**
Downloading bulk Genbank from https://ftp.ncbi.nlm.nih.gov/genbank/ gives a little bit of a unique file format. There are many sequences within each file, and they start with a header. I would like to be able to directly pipe those into Poly for manipulation. Specifically, I am looking at building codontable.com, and this kind of d

[2020-11-22 00:03] Koeng101 opened #77 "TestTranslationString fails randomly during PRs"
**Describe the bug**
`TestTranslationString` oftentimes (not always) fails during the Github ci test suite. This *only* happens with mac OSX. I have no idea why

**To Reproduce**
Steps to reproduce the behavior:
1. Make new Pull request
2. Watch this one test function fail

**Expected behavior**
Mac OSX failures should probably be the same as ubuntu failures, and if it is going to fail, just fail

[2020-11-22 23:41] TimothyStiles commented on #77
At this point I'm apt to believe that this is a problem with github actions as I have run into similar problems with running ubuntu tests with other PRs.

I'm not sure what the best solution is here other than changing CI/CD tool to something like circle, or just refreshing gh actions every time a test fails.

Super annoying.

[2020-11-23 00:25] Koeng101 commented on #77
I could self host a CI/CD on the Poly codonOptimizer namespace if needed

[2020-11-23 00:41] #75 closed

[2020-11-23 00:41] #72 closed

[2020-11-27 20:51] TimothyStiles commented on #43
@Koeng101 what do you mean by validate. I'm trying to explain to some people what needs to be done here but I'm not sure.

[2020-12-10 23:54] Koeng101 opened #84 "Optimal fragmentation"
**Is your feature request related to a problem? Please describe.**
I would like Poly to have a function to Fragment DNA samples that you wish to synthesize. Many DNAs that one would wish to synthesize are above the fragment threshold for synthesis providers (~1500bp for Twist), so this would be useful to them. In addition, you can synthesize more complex DNA fragments through clever splitting of F

[2021-01-17 16:22] Koeng101 opened #89 "Why is there Linear and Circular bools on Locus struct?"
**Describe the bug**
In io.go at line 80 + 81, there is a `Circular` and `Linear` field, both as booleans. Couldn't you just have one? (Since if Circular is false, linear is true, and vice versa, by definition).

Is this here simply to accommodate the ambiguous case?

**To Reproduce**
Steps to reproduce the behavior:
go to io.go

**Expected behavior**
A single field

**Screenshots**
If applicable,

[2021-01-18 23:54] Koeng101 commented on #89
@TimothyStiles I can fix the cloning stuff if I have an answer to this

[2021-04-09 00:33] TimothyStiles opened #91 "easy_dna functionality port."
I had a great call the other month with the developer of [easy_dna](https://edinburgh-genome-foundry.github.io/easy_dna) and he suggested that even though it isn't by far his most popular library it is his most useful and that poly should have similar functionality. Below is a list of functions that I will accept PRs for if ported. See above link for documentation and links to original source code

[2021-04-09 16:14] rkrishnasanka commented on #91
@TimothyStiles this matches the `sequence-level` tools I was talking about. I can imagine another layer of abstraction that can utilize these functions for `part-level` tools that can take advantage of these functions.

If your roadmap includes the part level operations and being able to use both MoClo and Biobrick parts for different types of assembly. I think iGEM students will be able to use po

[2021-04-11 20:25] tijeco commented on #91
I'd like to work on some of these! I can raise an issue for each function I decide to work on so that I can be assigned to it, if that would help out with tracking things.

[2021-04-12 01:58] dexho commented on #91
Jeff, we'll do that as well

[2021-04-12 02:56] aleyshachen commented on #91
I can work on dna_pattern_to_regexpr!

[2021-04-12 03:05] maplemuffet commented on #91
I'll work on random_dna_sequence :)

[2021-04-12 14:54] tijeco commented on #91
Perfect! I'll start with all_iupac_variants. I'll raise an issue this evening.

[2021-04-12 21:06] patrickjyoung commented on #91
I can work on list_common_enzymes!

[2021-04-13 00:02] tijeco opened #92 "all_iupac_variants port from easy_dna"
From [easy_dna](https://edinburgh-genome-foundry.github.io/easy_dna/). Return all unambiguous possible versions of the given sequence.

[code]

Will be using the ambiguity codes from [here](https://genome.ucsc.edu/goldenPath/help/iupac.html).

[2021-04-14 20:29] TimothyStiles opened #97 "Update contributing guide."
Contributing guide needs to have more on dev setup and code climate usage.

[2021-04-21 19:11] danielecook commented on #43
@TimothyStiles I wrote a tool called VCF-kit in graduate school. The [documentation](https://vcf-kit.readthedocs.io/en/latest/primer/) points to some use cases where you can use a VCF to generate primers for the purpose of validating variants. Unfortunately I haven't had time to keep up with the fast-evolving python ecosystem which has made installing and maintaining VCF-kit a challenge. The tool

[2021-04-21 22:55] TimothyStiles commented on #74
This has been added as of Pr #82. Closing.

[2021-04-21 22:55] #74 closed

[2021-04-22 01:33] #49 closed

[2021-04-22 01:33] #50 closed

[2021-04-22 01:33] #62 closed

[2021-04-22 01:33] #53 closed

[2021-04-22 01:34] TimothyStiles commented on #77
@Koeng101 has this been resolved such that I can close this issue?

[2021-04-22 01:34] #51 closed

[2021-04-22 01:36] #42 closed

[2021-04-22 01:36] #52 closed

[2021-04-22 01:36] #54 closed

[2021-04-22 01:49] TimothyStiles commented on #92
@tijeco any recent progress?

[2021-04-22 02:18] tijeco commented on #92
@TimothyStiles thanks for checking in! I have working on this on my calendar for tomorrow!

[2021-04-22 05:57] TimothyStiles commented on #43
@danielecook at a glance it looks feasible. Someone actually wrote a [VCF parser](https://github.com/brentp/vcfgo/blob/master/variant.go) in Go which may come in handy. We also have multi primer stuff that's going to be merged with PR #88 that should be pretty fast. Build problems on our end shouldn't be an issue either though we still need to fix some test issues on windows via PR #45.

Would you

[2021-04-22 16:54] Koeng101 opened #99 "Rhea parser integration"
**Is your feature request related to a problem? Please describe.**
Integration and testing of the Rhea parser package into Poly

https://github.com/Koeng101/rhea

**Describe the solution you'd like**
Integration and testing of the Rhea parser package into Poly

**Describe alternatives you've considered**
@TimothyStiles  writing a Rhea parser from scratch

**Additional context**
The RDF XML Rhea da

[2021-04-22 16:56] Koeng101 opened #100 "Uniprot parser"
**Is your feature request related to a problem? Please describe.**
A parser for Uniprot XML data dumps (https://www.uniprot.org/downloads)

**Describe the solution you'd like**
A way to digest all of the Uniprot data dumps.

**Describe alternatives you've considered**
We built the concurrent Fasta parser to handle the Uniprot FASTA dumps, but a lot of information is lost there. It would be greatly

[2021-04-22 17:03] Koeng101 opened #101 "NEB REBASE parser"
**Is your feature request related to a problem? Please describe.**
It would be great to have a full suite of enzymes available for `clone.go`. The easiest way to do this would be to make a parser for one of the data dumps from NEB REBASE http://rebase.neb.com/rebase/rebase.serv.html

The easiest format will probably be format #31 http://rebase.neb.com/rebase/rebase.f31.html

**Describe the solutio

[2021-04-22 17:57] TimothyStiles opened #102 "Create troubleshoot checklist for first time streamers."
**Is your feature request related to a problem? Please describe.**
New discord users seem to have a hard time streaming their screens. I had to fix permissions setting on my computer in one case and this morning someone on our discord had a similar issue.

**Describe the solution you'd like**
We should have a checklist for this so new users can go over this before trying to jump into a live stream

[2021-04-22 17:59] TimothyStiles opened #103 "Add resource list for learning synbio/how to code."
**Is your feature request related to a problem? Please describe.**
In our field it's rare that people know both how to code and how the biology works. We should provide simple learning resources to novices in both cases.

**Describe the solution you'd like**
I already have several resources I've written myself that are on my github profile. I'd like to make one more that can be used to review basi

[2021-04-22 21:25] tijeco commented on #92
I got a chance to work on this today!

I thought I had a solution until I did some tests.... Will keep at it though!

The original implementation had a quippy one liner with itertools, so I'm thinking some sort of recursion might be needed.

It's a fun problem!

[2021-04-22 21:59] rkrishnasanka opened #104 "Enable Biologist Contribution"
**Is your feature request related to a problem? Please describe.**
Enable a clear path for biologists to contribute to poly -
1. Biologists should do a PR to show that they’ve contributed to a GitHub repo.
2. Should be able to contribute input and output examples/test data that’s real-world (and academically citable)
3. Capture OCRID of bio/academic contributors
4. Zenodo DOI should be linked to c

[2021-04-23 07:08] TimothyStiles commented on #104
I'll expand more on this soon but we should also think about writing a github action bot that tries to contact both contributors and reviewers and have special reviewer cred somewhere in publication. Helps incentivize third-party reviewers.

[2021-04-23 07:11] TimothyStiles opened #105 "Traffic tracking."
**Is your feature request related to a problem? Please describe.**
Poly has actually gotten a huge uptick in traffic recently which is great to show sponsors, etc. Only issue? It doesn't save logs past two weeks.

**Describe the solution you'd like**
There's a suite of basic github actions that do something like this. None of them have decent graphing but we should at least keep traffic logs somew

[2021-04-23 14:30] TimothyStiles commented on #104
We should also have a getting started with markdown / markdown style guide. We already have a bot that lints markdown.

[2021-04-23 17:02] rkrishnasanka commented on #104
I think that's an excellent idea. Having 3rd party reviews and people being able to run conversations on GitHub would definitely make this better.

[2021-04-24 23:20] TimothyStiles opened #110 "Example test linter."
**Is your feature request related to a problem? Please describe.**
Exported functions shouldn't be merged without a proper example function

**Describe the solution you'd like**
A golint reporter that catches this during the PR process.

[2021-04-25 18:33] TimothyStiles opened #114 "GitHub actions and apps that need to be implemented."
- [ ] Coverage bot and badge bot build off this [concept](https://github.com/Schneegans/dynamic-badges-action)
- [ ] Exported functions shouldn't be merged without a proper example function - need bot for this.
- [ ] Remind bot that pings people that need to be reminded.
- [ ]  Stale issue warning bot.
- [ ]  Repo page and clone traffic logging.
- [ ] [magic num linter](https://github.com/tommy-mu

[2021-04-25 21:11] #110 closed

[2021-04-25 23:57] #97 closed

[2021-04-25 23:57] #105 closed

[2021-04-26 00:14] TimothyStiles commented on #114
/remind me to test this bot by pinging @allyourbasepair in 10 minutes.

[2021-04-26 00:16] TimothyStiles commented on #114
/remind me about the thing in 2 minutes

[2021-04-27 01:15] #46 closed

[2021-04-27 01:15] #55 closed

[2021-04-27 04:46] TimothyStiles opened #117 "Standard VScode and GH codespace setup."
**Is your feature request related to a problem? Please describe.**
I believe VScode and Github codespaces allow you to share settings and plugins within `.vscode` directory

**Describe the solution you'd like**
I should collect the tools that I use personally and include them as part of repo settings in `.vscode`.

[2021-04-27 04:50] TimothyStiles commented on #43
We're starting to prioritize the library over the CLI so this thread is now a little stale.

If you'd like to see a new feature related to primers please open a [new issue](https://github.com/TimothyStiles/poly/issues/new/choose)!

[2021-04-27 04:50] #43 closed

[2021-04-27 08:40] TimothyStiles opened #118 "Deprecating public hash functions and commands in favor of SeqhashV1"
**Is your feature request related to a problem? Please describe.**
It's annoying to have to ship all of these hashing functions.

**Describe the solution you'd like**
Let's just use seqhashv1 for everything. We'll leave rotate public so users can pipe to their own hashing command or rig it up with their hash function of choice without having to write Booth's Least Rotation or something.

[2021-04-27 08:44] TimothyStiles opened #119 "Create source field and warnings."
**Is your feature request related to a problem? Please describe.**
Poly does conversion to JSON and source files back beautifully. Source to other than JSON? Not so much. It's annoying to test and debug and users should really only be using JSON anyways.

**Describe the solution you'd like**
Sequence structs should contain a source field that labels what kind of src the file came from. If a user t

[2021-04-27 08:51] TimothyStiles opened #120 "Moving to better docs, examples, and packages."
**Is your feature request related to a problem? Please describe.**
Our docs are okay but they need to be better organized. It turns out the go has a way of essentially letting packages have integration tests via a main Example() function in a packages test file.

**Describe the solution you'd like**
have all `file.go` and `file_test.go` files put into their own directory with a doc.go that explain

[2021-04-28 05:19] #25 closed

[2021-04-28 05:33] #39 closed

[2021-04-28 05:33] #77 closed

[2021-04-28 08:10] #22 closed

[2021-04-29 00:58] TimothyStiles commented on #91
Since all functions have been claimed by someone or another I'm going to close this issue. Please open a pull request and cite this issue to merge.

[2021-04-29 00:58] #91 closed

[2021-04-29 05:12] #118 closed

[2021-04-29 05:12] #103 closed

[2021-04-30 22:23] Koeng101 opened #124 "Pichia chromosome parsing fails"
**Describe the bug**
Parsing a Pichia chromosome genbank file (https://www.ncbi.nlm.nih.gov/nuccore/FR839628.1) fails at a multiline location. In particular:

[code]

**To Reproduce**
Download linked genbank file and try to parse it. You will get a panic.

**Expected behavior**
A successful location parse

[2021-04-30 23:21] Koeng101 opened #126 "BtgZI fasta fails parsing"
**Describe the bug**
http://rebase.neb.com/cgi-bin/seqsget?BtgZI.NEBC8843.pro parses using the build in parser, but spaces are not removed. We should remove all spaces in the fasta parsers.

**To Reproduce**
Download the linked fasta file and parse it using poly.

**Expected behavior**
A fasta file's sequence should have no spaces.

[2021-05-01 00:08] Koeng101 opened #127 "Add seedable codon optimization"
**Describe the bug**
Having default stochastic codon optimization is annoying. There should be a way to add a seed to get consistent randomization.

**Expected behavior**
Add the ability to seed codon optimization

**Additional context**
Encountered while doing some synthesis fixing operations.

[2021-05-02 18:21] Koeng101 opened #128 "Pfu-sso7d fails on synthesis fixing"
**Describe the bug**
For unknown reasons, occasionally Pfu-sso7d fails on synthesis fixing after codon optimization with a pichia codon table.

Before PR is merged, solve this problem.

**To Reproduce**
pfu-sso7d seq:
[code]

pichia codon table:
[code]

Code:
[code]

**Expected behavior**
I would expect consistently that the optimized version of this sequence would not contain the BtgZI cut site.

[2021-05-02 19:05] Koeng101 opened #129 "Codon table generation awkward"
It is kind of awkward generating codon tables. For example, an external user would input something like this -

[code]

It might be a lot easier to give the sequence as a parameter for generating the table, for example

[code]

This change would be mildly more ergonomic, and clearer to the end users.

[2021-05-02 19:06] Koeng101 commented on #129
The confusion comes in because there aren't any "optimization tables", there are only codon tables, they just each have a slightly different structure.

[2021-05-04 17:00] Koeng101 opened #134 "Empty codon tables return panic instead of error when optimizing"
**Describe the bug**
If you pass an empty codon table into optimize, you get the following error:
[code]

Instead, you should get an error.

[2021-05-04 17:16] TimothyStiles commented on #134
@Koeng101 can you add error handling to this? I'd be happy to merge.

[2021-05-05 08:28] TimothyStiles commented on #129
You're right and I like this better syntactically. Any reason you can think of why we shouldn't do this @Koeng101?

[2021-05-05 08:28] TimothyStiles commented on #129
Or rather. Things we should be aware?

[2021-05-06 03:38] Koeng101 commented on #129
Yea so the biggest one is something around this - https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3115271/

You *can* express two different codon tables from a single genbank file. Though probably for historical reasons, the translation table is actually defined on the gene level, NOT the file level - https://www.ncbi.nlm.nih.gov/nuccore/CP060121.1

In addition, our code doesn't properly pick up star

[2021-05-06 03:41] Koeng101 commented on #128
Closed on last commit to synthesisFixer branch.

[2021-05-06 03:41] #128 closed

[2021-05-06 06:39] TimothyStiles opened #144 "Code coverage badge and statuses"
**Is your feature request related to a problem? Please describe.**
Every single code coverage tool I've used is insecure and terrible.

**Describe the solution you'd like**
I'm just going to write a script to do this as mentioned in #114. This endpoint should make making a badge easy: https://shields.io/endpoint.

**Describe alternatives you've considered**
Suffering

**Additional context**
Seriou

[2021-05-07 17:27] Koeng101 opened #145 "The Poly RBS calculator"
Salis lab has previously made a ribosomal binding site calculator, which can predict translation initiation rates from proteins.

However, it is slow (requiring a queue on a website) and closed source. In order to incorporate RBS calculation data in more complex applications, we need better performance and velocity of development. The best advancements in technology should be incorporated in an op

[2021-05-12 00:40] ayaanhossain commented on #145
Happy to chime in RK. Although I am not a developer for RBS Calculator, the v1.0 code is already open source and can be found Dr. @hsalis' GitHub [here](https://github.com/hsalis/Ribosome-Binding-Site-Calculator-v1.0).

[2021-05-12 03:53] Koeng101 commented on #145
The version 1 is, but the updated versions aren't. It's not really developed with Open Source in mind, sadly. I have used that source code to understand how it works - very useful!

[2021-05-12 15:37] rkrishnasanka commented on #145
@ayaanhossain you think it might be possible to connect/work with @Koeng101 to get the latest version?

[2021-05-12 16:14] hsalis commented on #145
You're welcome to re-implement the RBS Calculator algorithm using our v1.0 source code for inspiration [so long as you follow the terms of its open source license]. And I'd be happy to answer questions about how it works. But please do not ask members of my lab for unpublished source code. That's called theft.

[2021-05-12 16:43] TimothyStiles commented on #145
@hsalis I don't think theft was @rkrishnasanka's intent but I agree that he should of asked you and me before suggesting this.

@Koeng101 may be able to talk about this more but I believe our implementation is going to end up being different in several ways and of course we'll cite your work both in publications and the source code itself.

[2021-05-16 02:23] jkhales commented on #100
Why is there data loss with FASTA, but now with XML?

[2021-05-16 15:20] Koeng101 commented on #100
FASTA only contains sequence data and name, no metadata. The XML dumps have pretty much everything.

[2021-05-17 00:14] Koeng101 opened #152 "Genbank features are not parsed with attribtues."
**Describe the bug**
[code]
(koeng101/poly has up to date io.go file)

Output:
[code]
CDS features are not keeping their translations. I do not know why.

[2021-05-17 00:17] Koeng101 commented on #152
[Arthrospira_platensis.gb.gz](https://github.com/TimothyStiles/poly/files/6490330/Arthrospira_platensis.gb.gz)

[2021-05-17 00:20] Koeng101 opened #153 "Gff fails to parse on basic Gff file"
[code]
Like #152 , koeng101/poly has an up-to-date io.go file.

Output
[code]

We should be able to parse this file.
[Arthrospira_platensis.gff.gz](https://github.com/TimothyStiles/poly/files/6490334/Arthrospira_platensis.gff.gz)

[2021-05-17 00:23] TimothyStiles commented on #153
And here I thought we'd never actually have someone use the gff parser.

[2021-05-17 00:27] Koeng101 opened #154 "Poly fails to translate features that are lowercase"
[code]
Hey @TimothyStiles , remember when I was setting things to uppercase all the time? This is why.

Output:

[code]
We get no text for translations, but we get full text for the sequence itself. It is likely failing here - https://github.com/TimothyStiles/poly/blob/6886868c95c43038b85b722e169ceec1308a7e92/transformations.go#L84-L96

[2021-05-17 00:27] Koeng101 commented on #154
[Uploading Arthrospira_platensis.gb.gz…]()

[2021-05-17 21:40] Koeng101 opened #157 "Parser overhaul"
Most of our parsers work in slightly different ways. Back when @TimothyStiles was building genbank and gff parsers, it was built to handle single genbank files. As the needs expanded, such as with Fasta parsers, we were forced to build parsers that stream in data rather than read the entire thing into memory immediately.

I propose that after we close #156 #113 #111 and #108 we unify all of those

[2021-05-20 17:03] rkrishnasanka opened #159 "Ability to calculate melting temperature for non-default concentrations"
https://github.com/TimothyStiles/poly/blob/0d8b59270b5cd350c2974c28109784c4c36e51be/primers.go#L98

The default concentrations necessary for the `SantaLucia` model seem to hard-coded. Is this by design or something that was just missed in the initial pass ?

[2021-05-21 00:34] TimothyStiles commented on #159
By design.

@jecalles can correct me on this by I believe `MeltingTemp `is just calculating assuming sane defaults for non-experts.

If you want to calculate melting temp without defaults `SantaLucia` is also exported.

[2021-05-21 01:19] #159 closed

[2021-05-21 04:52] #134 closed

[2021-05-21 14:31] #92 closed

[2021-05-21 18:53] #154 closed

[2021-05-22 20:07] eyesmo opened #162 "Analyzing sequences for hairpin content, and 'fixing' sequences to remove long hairpins"
While designing wetware collections for FreeGenes, I've noticed that a lot of the time Twist will reject a DNA sequence for synthesis because it contains hairpins that are too long and stable. These hairpins cause problems during gene synthesis by overlapping oligo pools. Moreover, if the sequence codes for a protein, these hairpins can form in the mRNA after transcription, and they can both reduc

[2021-05-22 20:42] eyesmo opened #163 "Go implementation of Nonrepetitive Parts Calculator"
As discussed Ayaan Hossein's 2020 [first author paper](https://pubmed.ncbi.nlm.nih.gov/32661437/) (a collaboration between Salis and Klavins labs), repeated identical DNA sequences are a significant source of instability in synthetic genetic parts and devices. Cells can use two sites with the same DNA sequence as a substrate for homologous recombination, deleting or duplicating everything between

[2021-05-23 18:27] #124 closed

[2021-06-04 18:35] #101 closed

[2021-06-04 21:21] rkrishnasanka commented on #117
What all do you need working on this? I've been playing around with this for my tools which are far more complex in terms of dependency chains, I can probably get a draft of this done this weekend.

[2021-06-04 21:49] TimothyStiles commented on #117
@rkrishnasanka At the very minimum something that includes the Go extension published by microsoft with code coverage highlighting turned on. I've also been experimenting the official vision studio liveshare extension which could be of use but I still don't really know how it works in full.

[2021-06-04 21:51] TimothyStiles commented on #117
Now that I'm thinking of it perhaps the official github and github code extensions would be nice but probably not necessary to include? I'd also be curious to hear what other people are using for extensions.

[2021-06-04 22:17] rkrishnasanka commented on #117
Basically, they create a docker image with the code folder mounted, vscode installed. It then uses the remote dev features (which are really good) to connect to the docker image and runs stuff.

[2021-06-05 02:45] Koeng101 opened #165 "Rebase commands (ParseRebase, ReadRebase, ExportRebase) are redundant"
The rebase commands (ParseRebase, ReadRebase, and ExportRebase) are redundant since they are in the rebase package. We ought to simplify those:

[code]

[2021-06-05 02:58] TimothyStiles commented on #165
Do it.

[2021-06-05 06:21] Koeng101 opened #166 "Uniprot fails on error EOF on default tests"
When running ReadUniprot on the default test data, there is an error that is returned but not checked for - `2021/06/04 23:19:00 Failed on error: EOF`. It shouldn't actually affect anything, but is definitely annoying. Here is where it breaks:

[code]

decoderToken is nil when there is an EOF. Therefore, switching the two control flows should solve the problem. Will have to test more later.

[2021-06-05 15:52] Koeng101 commented on #152
I believe this is fixed in #125

[2021-06-05 15:52] #152 closed

[2021-06-05 16:03] #166 closed

[2021-06-05 16:09] Koeng101 opened #169 "Genbank flat file parsing should be channeled"
Currently Genbank flat file parsing is not channeled. Ideally, we have 2 additions:

1. Use channels while parsing genbank flat files
2. Have the parser initially output full genbank files which then are passed to our normal genbank parser

These full text genbank files can be used for hashing purposes to get diffs. The channels allow for better incremental updating, as we can parse the genbank fi

[2021-06-05 16:25] #165 closed

[2021-06-05 16:42] Koeng101 opened #170 "GbkFlatGz example fails to read feature properly."
[code]

Parsing this genbank flat file in this example does not get translations of features out.

[2021-06-05 17:43] TimothyStiles commented on #170
@Koeng101 by getting translation of features out you mean getting them as specified in the Genbank itself vs. getting the sequence and translating using poly correct?

[2021-06-05 17:43] Koeng101 commented on #170
Correct. In Genbank itself is where I want to grab translations from.

[2021-06-05 17:44] TimothyStiles commented on #170
Also, before I go off testing as a sanity check are you having issues with the test file or the one you've commented out that you're trying to use in production?

[2021-06-05 17:57] Koeng101 commented on #170
Commented out.

[2021-06-05 17:57] Koeng101 commented on #170
(I'm using it as a test for the allbase genbank insertion)

[2021-06-05 18:05] TimothyStiles commented on #170
@Koeng101 looking at the test file it's pulling that translation data as intended. How are you accessing it?

![Screen Shot 2021-06-05 at 11 05 22 AM](https://user-images.githubusercontent.com/7042260/120901145-f0a1f900-c5ed-11eb-9d85-d631a496db28.png)

Also, can you share this different file? I want to make sure I'm using the same thing you are.

[2021-06-05 19:02] Koeng101 commented on #170
Im an idiot

[2021-06-05 19:02] #170 closed

[2021-06-07 00:10] #100 closed

[2021-06-07 00:10] #99 closed

[2021-06-09 01:59] TimothyStiles opened #172 "Migrating to more mature CLI package."
**Is your feature request related to a problem? Please describe.**
urface/cli is clunky and missing syntax and docs for simple features.

**Describe the solution you'd like**
[cobra](https://github.com/spf13/cobra#generating-documentation-for-your-command) is used extensively and will likely solve our problems. What we need is.

1. A framework that makes it easy to test commands in a way that does

[2021-06-09 02:10] TimothyStiles commented on #172
Apparently cobra does this too? Woooo. https://github.com/spf13/cobra#generating-documentation-for-your-command

[2021-06-10 03:18] rkrishnasanka commented on #172
This looks pretty good actually, allows one to develop a really robust cmdline interface

[2021-07-10 19:30] TimothyStiles commented on #120
This issue has been mostly solved with the merging of #174. Closing and opening a new issue for expanding docs and making everything nice.

[2021-07-10 19:30] #120 closed

[2021-07-10 19:31] TimothyStiles commented on #117
Closing as this has been solved as of #171.

[2021-07-10 19:31] #117 closed

[2021-07-10 19:32] #56 closed

[2021-08-02 19:42] Koeng101 opened #181 "Poly does not faithfully keep label names the same"
**Describe the bug**
In `puc19.gbk`the first primer is named `/label="M13/pUC Reverse"`. If read through Poly, this gets changed to `/label="M13pUC Reverse"`

**Expected behavior**
The labels should be the same.

[2021-08-23 11:47] isaacguerreir opened #194 "Add basepairs to a sequence maintaining features in the right position"
Apparently, if you add a basepair to a given sequence the features don't update start and end positions. I think will be great to have a function for this.

[2021-08-28 07:17] nii236 opened #195 "Brew installation does not work for m1 Macbook pro"
**Describe the bug**

Installation on MacOS via Homebrew does not work. This might be due to m1 vs intel CPUs but I do not own both so can not confirm.

**To Reproduce**

[code]

**Expected behavior**

Successful installation.

**Screenshots**

N/A

**Desktop (please complete the following information):**

- MacOS 11.4
- M1 Macbook Pro

**Additional Context**

Homebrew list does not seem to contai

[2021-08-28 18:03] TimothyStiles commented on #195
Thanks for the issue @nii236 . This must have broken when we refactored into a new subpackage scheme. Will take a look at it.

Reason why we don't appear in homebrew list is because that has to be updated manually while using `timothystiles/poly/poly` can be auto updated using go releaser.

[2021-08-30 21:20] TimothyStiles commented on #195
@nii236 So I just ran `brew install timothystiles/poly/poly` and it successfully installed the most recent version on my non-M1 Macbook Pro after I uninstalled and cleared download cache.

I don't really know how to reproduce your bug besides what I've tried above. Have you had similar issues with other homebrew formulae?

[2021-08-30 21:23] TimothyStiles commented on #194
I was working on that and it was super hard to get appropriate updates for multi-location inserts. I'd be willing to accept something that handles circularity without the multi-location stuff.

https://github.com/TimothyStiles/poly/tree/sequence-methods

[2021-08-30 23:15] Koeng101 commented on #195
I have a m1 MacBook I could try it on - though I've just been running poly in a Debian vm on the machine, and it works fine there.

[2021-08-31 21:15] TimothyStiles commented on #195
@nii236 it looks like @v-raja was running into a similar issue and it may be fixed with our latest release. Give it another try.

[2021-09-01 19:55] isaacguerreir opened #196 "SplitSet with more features"
Part of the process of organism engineering is to make synthesizable parts, when necessary, to construct new sequences and plasmids that add functions to living things. One step that we found out very boring at Friendzymes is to make some parts synthesizable you have to split the original sequence into fragments, either because the original is too big to be synthesize, or because you have problems

[2021-09-01 20:01] Koeng101 commented on #196
Funny enough, looks like we both made this! Clearly its necessary. https://github.com/Koeng101/pichia_toolkit/tree/main/fragment

[2021-09-01 20:02] Koeng101 commented on #196
also #84

[2021-09-06 09:02] nii236 commented on #195
Here's my latest attempt, any ideas?

[code]

[2021-09-06 09:02] nii236 commented on #195
Here's my latest attempt, any ideas?

[code]

[2021-09-06 16:37] Koeng101 commented on #145
Closing. Work will take place at https://github.com/allyourbasepair/rbscalculator until stability.

Api released here: http://api.rbscalculator.com/docs

[2021-09-06 16:37] #145 closed

[2021-09-06 20:16] rkrishnasanka opened #197 "Ability to generate a attributions file in BibTeX"
It would be a good feature to have poly generate aa bib file with all the corresponding algorithm references. This will let people easily verify the sequence of algorithms that were used for generating the final outputs. This can be a flag that that the user can optionally enable.

**Describe the solution you'd like**
When the user adds a `--generate-attributions` flag on the commandline, the user

[2021-09-07 14:44] Koeng101 commented on #195
I get the same error on my m1 MacBook Pro. How is brew currently released @TimothyStiles ?

[2021-09-07 14:45] Koeng101 commented on #30
Not sure when fixed, but there is now not GenbankDivision in Meta, so closing.

[2021-09-07 14:45] #30 closed

[2021-09-07 14:46] Koeng101 commented on #169
https://github.com/TimothyStiles/poly/blob/prime/io/genbank/genbank.go

We have this now. Closing.

[2021-09-07 14:46] #169 closed

[2021-09-07 23:41] Koeng101 opened #199 "Synthesis fixer slow"
One thing that I have noticed about the synthesis fixer is that the majority of time is spent setting up the problem (context for solving) rather than the actual solving (which takes very little time)

There should be a way to decrease the amount of time needed to do synthesis fixing by optimizing inserts.

[2021-09-07 23:42] Koeng101 commented on #199
I bet we could increase speed by quite a bit if we used transactions rather than just insertions during the setup phase.

[2021-09-10 14:47] TimothyStiles commented on #195
@Koeng101 @nii236

Here's the YML that GoReleaser uses to create our homebrew formula on release
https://github.com/TimothyStiles/poly/blob/11ddbf5282153eed258d313fbb23c2913dd2f9a9/.goreleaser.yml#L63-L76

This automatically pushes a homebrew formula to a separate repo for homebrew to use.

It looks like there's some specific language on the formula that checks to see if it's an intel Mac and ONLY

[2021-09-10 14:53] TimothyStiles commented on #195
Looked into it and Goreleaser added M1 support. It also has a ton of targets. Any others I should through in there while I'm at it? 😂

https://github.com/goreleaser/goreleaser/blob/3338fad7baebf81d90e80b548f4ecf4eb81af97f/internal/builders/golang/targets.go#L129-L135

[2021-09-10 21:22] TimothyStiles commented on #195
@Koeng101 @nii236 this issue should be fixed with the latest release. Could one of you give it a try and confirm?

https://github.com/TimothyStiles/poly/releases/tag/v0.13.1

[2021-09-10 21:28] TimothyStiles commented on #195
According to @Koeng101 on our discord this works! Closing.

[2021-09-10 21:28] #195 closed

[2021-09-10 21:30] TimothyStiles commented on #197
@rkrishnasanka, I have no idea how this would work? Is this only for command line usage?

Currently we're only supporting conversion and hashing for the command line so this may be a little early.

[2021-09-10 22:30] rkrishnasanka commented on #197
Yeah I'm planning to put in a PR for this. I figured I'd start a discussion here so that people might put up the info and extend the command line interface as necessary. I believe the friendzymes people figured out a couple of use cases that seem to make sense to have a command line interface for.

[2021-09-11 16:53] Koeng101 opened #201 "Codon optimize does not check if amino acids are in table"
[code]

Basically, if you put in a protein sequence with invalid amino acids (in this case, O) optimize will panic instead of returning "hey you can't use that amino acid, idiot".

[2021-09-11 17:56] #199 closed

[2021-09-12 01:56] Koeng101 opened #205 "Move synthesisFixer SQL to files rather than string lines for linting"
* Add files for SQL rather than having them as strings
* Add SQL linter

[2021-09-12 02:24] Koeng101 opened #206 "Improve synthesisFixer repeat finder"
Right now, the repeat fixer fixes one codon at a time, which is very inefficient. We should identify the largest repeats and then fix multiple places at once.

[2021-09-17 22:00] TimothyStiles commented on #205
Fixed. SQL removed with PR #208 so we no longer need a linter for it.

[2021-09-17 22:00] #205 closed

[2021-09-25 22:16] Koeng101 opened #211 "Remove "Codeclimate""
**Describe the bug**
There is a bug on pull requests (such as https://github.com/TimothyStiles/poly/pull/198) that cause CI to fail due to "codeclimate". It would appear that this "codeclimate" is an outdated and useless bit of code. It must have only survived due to our oversight, and so should be removed now as part of normal cleanup.

**To Reproduce**
1. Make code with more than 2 brain cells
2

[2021-09-26 19:15] TimothyStiles commented on #211
Ahahahahahaha. Alright, alright I can tell that you're not happy but take a deep breath @Koeng101.

I actually like it because it often highlights stuff I do care about when reviewing pull requests. It's suggestions are dumb but the fact that it highlights complex code and repeats makes it easier for me to review what's going on.

I'll look into a way where it doesn't block merge but still generat

[2021-09-26 23:58] Koeng101 commented on #211
yes. idc about the reports that much

[2021-09-27 15:44] #84 closed

[2021-09-27 15:44] #196 closed

[2021-09-28 19:13] #211 closed

[2021-09-28 19:19] TimothyStiles opened #212 "Overhauling IO"
**Is your feature request related to a problem? Please describe.**
Poly's IO functions were the first functions ever made for the project. As the project has evolved we've developed new requirements and our IO functions should be updated to reflect that.

**Describe the solution you'd like**
Things to be done/considered:

* Break the sequence struct into smaller structs that are more tightly integ

[2021-09-29 18:27] Koeng101 opened #213 "Make example tests run in browser"
Currently, examples don't work in browser because we don't embed the /data/ file into our binaries. This is embarrassing for Tim during live demos. We should make em work so that Tim doesn't have to be embarrassed during live demos.

[2021-10-02 19:37] Koeng101 opened #216 "Methylation testing"
People can get pissy when they don't check methylation when cutting with BsaI:

https://ethanomics.wordpress.com/2013/06/28/bsai-worst-restriction-enzyme-ever/

"One of the sites had a 4 out of 5 bp match to the Dcm recognition site so I wonder if E. coli is not that accurate with Dcm methylation."

We should have a methylation checker function.

[2021-10-03 10:38] isaacguerreir commented on #216
I think that instead of making one specific function to find methylation recognition sites, will be better to try to use the #191 finder function.

[2021-10-04 02:17] #157 closed

[2021-10-04 02:17] #172 closed

[2021-10-14 08:09] codercahol opened #217 "indexing existing functionality"
**Is your feature request related to a problem? Please describe.**
while trying to get up to speed on poly, I'm not sure what functions already exist/how the project is organized

**Describe the solution you'd like**
an index of existing functionality (as part of one of the .md docs) - preferralby at a higher level of solutions that poly is currently solving in some way (as opposed to a detailed,

[2021-10-14 14:53] TimothyStiles opened #218 "A galaxy brain IO solution. This is the way."
**Is your feature request related to a problem? Please describe.**
Writing all of these parsers is terrible. There's a million different file formats for DNA but they're all ridiculous to work with. We're like one of three small groups that use JSON and the rest of these "standards" peaked before Y2K was supposed to happen.

**Describe the solution you'd like**
What if we just used raw sequence da

[2021-10-14 20:24] codercahol commented on #217
hadn't seen that, thanks, I'm new to Go.

I was imagining something a little bit more abstracted.. somewhere btw an elevator pitch and the docstrings for each function

Im missing a global picture of context; ie "we are designing genes, practically this means we need a protocol to integrate the genes into genomes, practicallythis means we need to design different methods for assembling genes w ove

[2021-10-17 22:27] TimothyStiles commented on #217
@codercahol alot of that is written in line and actually in the subpackage directories themselves. Have you had a chance to check that out?

[2021-10-17 22:29] TimothyStiles commented on #217
I've also been updating docs a little bit too. More to come.

[2021-11-09 00:06] Koeng101 opened #224 "Seqhash with overhangs"
Seqhash cannot represent DNA with overhangs or other DNA that are bound without perfect matches. In actual experimentation, this kind of structure is often found, and should be addressed. We should introduce a backwards compatible method to represent these.

[2021-11-13 23:59] Koeng101 opened #225 "PCR simulation should have circularity as an aspect of the sequence itself, not of the entire function"
PCR simulation should have circular as a attribute of the sequence getting input itself, not of the entire function.

[2021-11-28 08:47] fialhopm commented on #201
Hi @Koeng101, would it be ok if I gave this a shot?

[2021-11-28 15:28] Koeng101 commented on #201
That would be fantastic!

[2021-11-30 00:30] TimothyStiles opened #229 "Promoter, terminator, non-coding parts."
**Is your feature request related to a problem? Please describe.**
Isaac said we should try this. More details to come when I'm not tired. -Tim

[2021-11-30 00:30] TimothyStiles commented on #229
Designing ORIs with fixes for weird repetitions.

[2021-12-12 21:09] TimothyStiles opened #230 "CRISPR gRNA Design"
I'd like to be able to design CRISPR guide RNAs with Poly. Below is a draft spec for a new CRISPR package:

## Spec

Our guide RNA design package should be lightweight and easily extendable and at its core will likely need

- [ ] A struct to hold information about the target and the CAS protein being used.
- [ ] A substruct to hold information about the CAS protein (PAM, references, functionality

[2021-12-15 03:13] isaacguerreir commented on #230
About someone that regularly makes gRNA plasmids maybe could be interested to talk with someone from Eligo Bioscience. Xavier Duportet is the CEO and a former iGEM participant and they work using CRISPR as a tool for genetic engineering organisms. I don't have his personal contact but looks for me as someone approachable. Maybe someone from the company that is designing things for them could be al

[2021-12-15 03:21] isaacguerreir commented on #230
http://parts.igem.org/Collections/CRISPR

Could be a beginning to understand better the object we will need to create.

[2021-12-15 03:22] isaacguerreir commented on #230
I remember seeing a presentation where someone from Ginkgo shows the heuristic they use for genome engineering using a cas system. I will contact the person and see what we can get from their experience.

[2021-12-24 14:51] TimothyStiles commented on #119
This will be deprecated entirely when #227 is merged around Go's 1.18 release. Closing.

[2021-12-24 14:51] #119 closed

[2021-12-24 14:52] TimothyStiles commented on #104
Closing for now but feel free to open this back up.

[2021-12-24 14:52] #104 closed

[2021-12-24 14:53] TimothyStiles commented on #144
^ This is a pain in the butt and not critical. Closing.

[2021-12-24 14:53] #144 closed

[2021-12-24 14:53] TimothyStiles commented on #197
Closing for now. Feel free to open this thread back up.

[2021-12-24 14:53] #197 closed

[2021-12-24 14:54] #217 closed

[2021-12-24 14:54] #218 closed

[2021-12-24 14:55] #114 closed

[2021-12-24 14:55] TimothyStiles commented on #212
This is currently being worked on in #227.

[2021-12-24 14:56] TimothyStiles commented on #126
@Koeng101 can I close this issue or has this not been solved yet?

[2021-12-24 14:57] TimothyStiles commented on #89
@Koeng101 did we already solve this? Should be fixed with #227.

[2021-12-24 14:57] #102 closed

[2021-12-24 14:57] #201 closed

[2021-12-24 14:58] TimothyStiles commented on #181
There was some annoying reason why this was hard to do when I first wrote the genbank parser. Would be happy if someone could fix this if it's still an issue.

[2021-12-24 15:00] TimothyStiles commented on #213
Embedding won't work for this. I've tried writing our own thing but I kind of need to figure out how to ship a Go interpreter via WASM for this to work properly without secops/billing problems.

[2021-12-24 15:01] TimothyStiles commented on #153
@Koeng101 has this been solved yet?

[2021-12-24 15:03] TimothyStiles commented on #230
@isaacguerreir any input from other people would be great. I'll likely start working on this after the holidays.

[2021-12-24 15:04] TimothyStiles commented on #224
@Koeng101 any thoughts on how to do this?

[2021-12-27 02:12] Koeng101 commented on #224
I'm thinking we could perhaps add a union type to seqhashes. This could be as easy as just `seqhash{} + "U" + seqhash{}` or whatever. I'm thinking the simplest solution should be the one we go for.

[2021-12-27 02:14] Koeng101 commented on #153
No don't think so. I think I actually just solved the problem that was preventing me from using the raw genbank (which forced me to use gff). Maybe we should depreciate GFF for a while until we can get proper error handling on it? Or keep it, but note it is buggy or whatever.

[2021-12-27 02:15] Koeng101 commented on #181
I think it *might* be fixed in my newer version of the genbank parser #221

[2021-12-27 02:16] Koeng101 commented on #89
Think so. Let's close.

[2021-12-27 02:17] Koeng101 commented on #126
This is **NOT FIXED**. If someone asks for something to PR to get started, this is it.

[2022-01-01 16:54] sabhiram commented on #213
Maybe of interest: https://github.com/tetratelabs/wazero

[2022-01-03 01:33] TimothyStiles commented on #213
@sabhiram I don't think this quite what is needed but I'm definitely saving for later :D

Essentially I need a JIT compiler for Go as a WASM binary that can be called from a client front end. Go's standard playground is entirely sandboxed and doesn't work with system or network calls so you can't run file IO/API examples.

Since a good portion of Poly is file IO for synbio related formats it'd be

[2022-02-05 01:30] ThomVett commented on #126
A clarifying question about this, what do you mean by parse it using `poly`? Using one of the cli entrypoints or from inside the code? Should this be added as a unit test?

[2022-02-05 02:06] ThomVett commented on #230
@TimothyStiles did you start on this feature?

[2022-02-06 13:37] TimothyStiles commented on #230
I haven't but anyone is welcome to start on it @ThomVett!

[2022-02-06 22:05] ThomVett commented on #230
happy to start looking at it, but the problem is that I don't have enough domain knowledge to deeply understand the current scope of the feature. Is there a user that you had in mind that would start using this feature?

[2022-02-08 20:48] TimothyStiles commented on #230
Scope is fairly generic and is just intended for anyone designing guide RNAs. How familiar are you with crispr-cas systems @ThomVett?

End user would be a developer in an organization where they're designing large numbers of crispr-cas gRNA inserts. Our package would allow them to stitch together their own function to achieve what they specifically need. I plan on using this in the future myself b

[2022-02-09 03:38] ThomVett commented on #230
Familiar in terms of the biology, but not familiar in respect to what does designing a guide RNA mean. i.e not sure what the workflow would be from a scientists point of view.

[2022-02-24 16:29] TimothyStiles opened #241 "Fixing eisen bug in Golden Gate Cloning"
Run the tests enough and this happens:

![Screen Shot 2022-02-24 at 7 32 14 AM](https://user-images.githubusercontent.com/7042260/155565592-ff0ae1c4-25be-469d-9e44-a9ae71eb0f37.png)

Looks like the cyclic and concurrent nature of our current GoldenGate implementation makes it hard to limit the number of cycles it loops through. @Koeng101 has some ideas to fix this.

[2022-02-27 00:07] #212 closed

[2022-02-27 00:23] mithrandir2008 commented on #181
Is this fixed? I can't recreate this using the test functions

[2022-02-27 14:51] TimothyStiles opened #243 "Add top level doc strings for subpackages."
IO and Synthesis strings need package doc strings!

![Screen Shot 2022-02-27 at 3 59 48 AM](https://user-images.githubusercontent.com/7042260/155886336-fb8edb36-353b-4fa5-84c5-64b38403c15b.png)

[2022-04-05 04:54] Koeng101 opened #247 "Default codon tables"
We should add default codon tables of the following organisms:

1. Escherichia coli MG1655
2. Bacillus subtilis 168
3. Vibrio natriegens (whatever type strain)
4. Saccharomyces cerevisiae BY4741/BY4742 (used for knockdown collections)
5. Yarrowia lipolytica (apparently used quite a bit in production, use type strain)
6. Pichia pastoris NRRL Y-7556
7. Kluyveromyces marxianus NRRL Y-6860 (it zoom sp

[2022-04-06 04:47] isaacguerreir commented on #229
One of the limiting factors for the design of DNA sequences is the synthesis technology. Right now some limitations make some sequences impossible to be created from scratch. Poly has a feature to improve CDS content, allowing the change of some codons to synonymous codons in order to ensure sequences that don't have problems synthesizing, assembly, and cloning.

 This is only possible because the

[2022-04-06 13:27] eyesmo commented on #229
Some functions that would be nice to have in this area:

- The ability to specify sets of features within a designed sequence, including the start and end locations of the features and their position on either the top or bottom strand, along with optional sequence constraints for each feature (ranging from 'protein coding sequence' to 'NNNNNGYARTTTCANNANCNN' to '.....[..[]].....[[[[]]]]..' to 'No

[2022-04-16 19:24] #243 closed

[2022-06-08 17:57] TimothyStiles opened #254 "overhaul dev docs and workflow"
**Is your feature request related to a problem? Please describe.**
Poly has grown beyond merging PRs into prime(main branch-- renaming). It needs a new release and PR workflow.

**Describe the solution you'd like**
* [ ] Update the contributor's guide to describe the new workflow where PRs are first merged into `dev` before `main`
* [ ] Update issue and PR templates to redirect support to discussi

[2022-06-21 12:24] #213 closed

[2022-06-24 17:37] rkrishnasanka commented on #229
Well, poly should be synthesis technology agnostic. This kind of goes to the `PART level` API I was talking about back in the stone age for poly. The feasibility of these parts is going to be a whole different thing.

[2022-06-26 23:46] Koeng101 commented on #89
https://github.com/TimothyStiles/poly/blob/beacf5d83d54f588c154a634e9f222b27349291c/io/genbank/genbank.go#L97-L98

Heyyyyyy

[2022-06-27 01:31] Koeng101 opened #261 "GbkLocationString should be in "Feature" not "Location"
When developing, it makes more sense for GbkLocationString to be a feature attribute, since location is entirely derived from it.

[2022-06-28 00:43] isaacguerreir commented on #229
Could you elaborate more about @rkrishnasanka?

[2022-07-02 03:24] Koeng101 opened #262 "Codon tables should have start codon statistics"
**Is your feature request related to a problem? Please describe.**
Codon tables should have start codon statistics available for use.

[2022-07-06 18:39] rkrishnasanka commented on #229
The premise was that we have different levels of API:

Level 1 - Sequence Level: this would include all operations for cutting, copying, pasting, etc. for sequences.

Level 2 - Part Level: This would include instantiating, deleting, modifying "Parts" that could include promoters, codons, repressors, terminators, coding regions, etc. Basically supports the entire SBOL nomenclature.

Level 3 - Circu

[2022-07-08 01:11] rkrishnasanka commented on #229
@Koeng101 fair enough:

My reference to SBOL is to support the different types of entities that you might come across in SBOL (https://sbolstandard.org/visual-glyphs/) and not the I/O to SBOL. I only brought it up because you all are talking about working with those parts.

From the sound of it, it seems like poly will be having Level 1, Level 2, and allbase will be having Level 3 and above. It wo

[2022-07-08 03:30] Koeng101 commented on #247
Just the type strain genomes. I've suggested a few of them above.

[2022-08-15 18:55] TimothyStiles opened #263 "create config struct for seqhash hashing."
**Is your feature request related to a problem? Please describe.**
I really don't like how `seqhash.Hash` requires more than several arguments including an enumerator thats potential values are unclear from simple usage.

**Describe the solution you'd like**
A reworking of arguments into either a single struct or the string being hashed and a single struct with default arguments plus an enumerator

[2022-08-15 19:31] rkrishnasanka commented on #263
@TimothyStiles it looks like there are only 4 arguments here:

https://github.com/TimothyStiles/poly/blob/d596776f0e5a1864cfad87ab9787cf0d04e1b34b/seqhash/seqhash.go#L136

Are there any more options I need to consider ?

[2022-08-15 19:41] TimothyStiles commented on #263
these are they 💯

I believe the sequenceType variable has three potential options "DNA", "RNA", and "PROTEIN" which isn't obvious from simple usage which is why I thought some sort of enumerator would be better.

[2022-08-15 20:35] rkrishnasanka commented on #263
Gotcha !

[2022-08-17 13:38] rkrishnasanka commented on #247
@Koeng101 you mean something like this package ?

https://github.com/Edinburgh-Genome-Foundry/codon-usage-tables/tree/master/python_codon_tables

[2022-10-15 21:03] matiasinsaurralde opened #276 "Data race causes flaky test in "clone""
**Describe the bug**

When running `clone` tests in a repeated way, `TestSignalKilledGoldenGate` randomly fails. I believe this might be caused by data races in the `clone` package, as reported by `go test -race ./clone`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. To run tests in a repeated way: `go test -count 10 -v ./clone/`
1. Then run the race detector: `go test -race ./clone

[2022-10-15 22:08] matiasinsaurralde opened #277 "Suggestion: make the project part of Hacktoberfest"
[Hacktoberfest](https://hacktoberfest.com/) is running this month and I think it might be useful to gain exposure.

It seems that you only need to add `hacktoberfest` to the repo's topics in order to enable this.

Screenshot from my Hacktoberfest account -they automatically follow al PRs I make, even in non-participating repos-:
<img width="895" alt="Captura de Pantalla 2022-10-15 a la(s) 19 07 32

[2022-10-15 22:14] TimothyStiles commented on #277
Just added hacktoberfest to the repo's topics!

[2022-10-15 22:14] #277 closed

[2022-10-16 13:14] #254 closed

[2022-10-16 13:14] #241 closed

[2022-10-17 15:23] Koeng101 commented on #241
How was this fixed?

[2022-10-17 16:45] TimothyStiles commented on #241
@Koeng101 it wasn't but @matiasinsaurralde made a better issue for it #276.

[2022-10-17 16:50] Koeng101 commented on #276
This'll be in the ligation function btw, almost 100% sure.

[2022-10-19 01:49] Koeng101 opened #278 "rebase can contain multiple references"
https://github.com/TimothyStiles/poly/blob/f2dcf099fea761c9d00d7fadbe50e3d92652e71c/io/rebase/rebase.go#L242-L246

Current parser version only parses a single reference. Enzymes like BsaI have multiple references.

[2022-10-19 02:56] Koeng101 opened #279 "PCR simulations are wrong."
[code]
Output:
[code]

Check here - https://pkg.go.dev/github.com/TimothyStiles/poly@v0.21.1/primers/pcr

TTATAGGTCTCATACTAATAATTACACCGAGATAACACATCATGG anneals to the beginning of the sequence, NOT TATATGGTCTCTTCATTTAAGAAAGCGCATTTTCCAGC. There is no reason why the beginning of the output sequence should be `TATA`

@TimothyStiles This is a fairly critical bug we should figure out.

[2022-10-19 03:29] Koeng101 commented on #279
Sequence should be `TTATAGGTCTCATACTAATAATTACACCGAGATAACACATCATGGATAAACCGATACTCAAAGATTCTATGAAGCTATTTGAGGCACTTGGTACGATCAAGTCGCGCTCAATGTTTGGTGGCTTCGGACTTTTCGCTGATGAAACGATGTTTGCACTGGTTGTGAATGATCAACTTCACATACGAGCAGACCAGCAAACTTCATCTAACTTCGAGAAGCAAGGGCTAAAACCGTACGTTTATAAAAAGCGTGGTTTTCCAGTCGTTACTAAGTACTACGCGATTTCCGACGACTTGTGGGAATCCAGTGAACGCTTGATAGAAGTAGCGAAGAAGTCGTTAGAACAAGCCAATTTGGAAAAAAAGCAACAGGCAAGTAGT

[2022-11-12 03:55] micrictor commented on #276
Is the expectation for a single clone site in the test based on independent analysis of the fragments, or was it the value that passed? I ask because a naive approach to avoiding the race (creating a new slice for every recursion, then writing in the values) consistently fails as it returns 2 clones.

[code]

[2022-11-14 20:15] TimothyStiles commented on #276
^@Koeng101 do you know the answer to this?